.navbar {
    display: flex;
    background-color: rgba(59, 57, 57, 0.178);
    justify-content: space-between;
    align-items: baseline; 
    min-height: 10vh;
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
}
nav.navbar{
    align-items: baseline;
}
.navbar .nav-brand {
    padding-left: 1.5em;
}
.navbar .nav-brand .brand-logo {
    height: 55px;
}

.navbar ul.nav-list {
    display: flex;
    align-items: baseline;
    padding-right: 3em;
    

}

.navbar ul li {
    padding-left: 5px;


}

.navbar ul li a {
    color: #da52f6;
    font-weight: 600;
}