{% extends 'entries/base.html' %}
{% load crispy_forms_tags%}

{% block content %}

<div class="container w-50 media img-fluid ">

    <div style="width: 30%">
        <img src="{{ profile.profile_pic.url }}" alt="" class="article-img rounded-circle">
    </div>
    <h2>{{ profile.user.username }}</h2>   
    <a href="{% url 'users:update_user' profile.user.username %}"> Update User </a>

    <div class="bio">
        <p><a href="{% url 'users:update_profile' profile.user.username %}">Update Bio</a></p>
        {%if request.user !=  profile.user %}
        <li><a href="{% url 'users:follow_user' profile.user.username %}">Follow</a></li>
        {% endif %}
    </div> 

</div>


{% endblock %}