{% extends 'entries/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1 class="text-center bg-secondary text-white">Forgot your password?</h1>
  <p class="lead">Enter your email address below, and we'll email instructions for setting a new one.</p>
<form action="" method="post">{% csrf_token %}
    <fieldset>
        <legend>Reset Password</legend>
    {{ form|crispy }}
        <input type="submit" value="Send instruction" class="btn btn-success btn-outline-light">
    <a href="{% url 'entries:home' %}" class="btn btn-success">Cancel</a>
    </fieldset>

</form>
{% endblock %}
