{% extends 'entries/base.html' %}
{% load crispy_forms_tags %}
dasdasdasdasdasdasd

{% block content %}
<div class="container w-50">

    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-control my-2">
            <legend class="text-primary m-3">Change Password</legend>
            {{ form|crispy }}
            <button type="submit" class="btn btn-success my-2">Submit</button>
        </fieldset>
    </form>
</div>

<script>
    console.log("TEST")
</script>
{% endblock %}