{% extends 'entries/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


  <div class="container w-50  border border-dark">
    <article class="article media-heading ">
    <h2>
      <span class="img-round"><img src="{{ post.owner.profile.profile_pic.url }}" alt="{{ post.owner }}'s Profile Pic "></span>
      {{ post.owner }}</h2>
    <span class="text-primary small">{{post.date_created}}</span>

    <p class="media-body lead border border-end">{{ post.content|safe }}</p>
    <small class="success">{{ post.view_count }}</small>
    </article>

  <form action="" method="post" class="border border-top mt-2 border-primary">
    {% csrf_token %}
    <legend>Create Comment</legend>
  {{ form|crispy }}

  <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>


{% endblock %}